<footer class="site-footer group">
    <div class="clearfix">
       <div class="clearfix colelem">
           {% for social in site.data.social %}
           <a target="_blank" class="{{ social.class }} nonblock nontext museBGSize rounded-corners social_btn transition group" href="{{ social.url }}" data-sizepolicy="fluidWidthHeight" data-pintopage="page_fixedCenter"><div class="fluid_height_spacer"></div></a>
           {% endfor %}
        </div>
        <div class="colelem" data-sizepolicy="fluidWidth" data-pintopage="page_fluidx">
            <div class="copyright-container">
                <span class="copyright-text">{{ site.copyright[page.lang] }}</span>
            </div>
        </div>
    </div>
</footer>

<style>
{% include scrolldown.css %}
</style>
{% include scrolldown.html %}

<script src="{{ "/js/menus.js" | prepend: site.url }}" type="text/javascript"></script>
<script src="{{ "/js/headlines.js" | prepend: site.url }}" type="text/javascript"></script>
