<header>
               <nav class="mobile-nav mob-nav">
                    <div class="row logo-wrap start-xs middle-xs">
                        <div class="col-xs-12">
                            <a href="index.html"><img src="img/terracoin-logo.svg" alt="Terracoin Logo" class="logo"></a>
                        </div> 
                    </div>
                    <input class="burger-check" id="mobile-burger" type="checkbox"><label for="mobile-burger" class="burger">
                        <div class="bar top"></div>
                        <div class="bar middle"></div>
                        <div class="bar bottom"></div>
                    </label>
                    <div class="slide-in-nav">
                        <div class="row center-xs">
                            <div class="col-xs-12">
                                <ul>
                                    <li class="nav-item">
                                        <a href="index.html">Home</a>
                                    </li>
                                     <li class="nav-item">
                                        <a href="community.html">Community</a> 
                                    </li>
                                    <li class="nav-item">
                                        <a href="faq.html">FAQ</a> 
                                    </li>
                                    <li class="nav-item">
                                        <a href="about.html">About</a> 
                                    </li>
                                </ul>
                            </div>
                        </div>         
                    </div>
               </nav>
               
               <nav class="desktop-nav gen-nav container">
                    <div class="row middle-xs nav-items">
                            <div class="col-sm-5">
                                <a href="index.html"><img src="img/terracoin-logo.svg" alt="Terracoin logo" class="logo"></a>
                            </div>
                            <div class="col-sm-7">
                                <div class="row end-xs">
                                    <div class="col nav-item">
                                        <a href="index.html">Home</a>
                                    </div>
                                     <div class="col nav-item">
                                        <a href="community.html">Community</a> 
                                    </div>
                                    <div class="col nav-item">
                                        <a href="faq.html">FAQ</a> 
                                    </div>
                                    <div class="col nav-item">
                                        <a href="about.html">About</a> 
                                    </div>
                                </div>
                            </div>
                                
                    </div>
               </nav>
           </header>