<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Terracoin</title>
        <meta name="description" content="Terracoin is a secure, innovative, flexible, and easy cryptocurrency.">
        
        <link rel="stylesheet" href="css/custom.css">
        
        <link rel="canonical" href="http://www.terracoin.info/">
        <link rel="alternate" title="Terracoin is a secure, innovative, flexible, and easy cryptocurrency." href="http://www.terracoin.info/">

        <meta property="og:title" content="Terracoin">
        <meta property="og:url" content="http://www.terracoin.info/">
        <meta property="og:type" content="website">
        <meta property="og:description" content="Terracoin is a secure, innovative, flexible, and easy cryptocurrency.">
        <meta property="og:image" content="http://www.terracoin.info/img/terracoin-logo.png">

        <meta name="twitter:card" content="summary">
        <meta name="twitter:image" content="http://www.terracoin.info/img/terracoin-logo.png">
        <meta name="twitter:title" content="Terracoin">
        <meta name="twitter:description" content="Terracoin is a secure, innovative, flexible, and easy cryptocurrency.">
        
        <link rel="shortcut icon" href="/favicon-32x32.png">

        <link rel="apple-touch-icon-precomposed" href="/img/apple-touch-icon/180x180.png">
        <link rel="icon" href="/img/apple-touch-icon/180x180.png">
        
    </head>
