<style type="text/css">
#mc_embed_signup input.mce_inline_error { border-color:#6B0505; }
#mc_embed_signup div.mce_inline_error { margin: 0 0 1em 0; padding: 5px 10px; background-color:#6B0505; font-weight: bold; z-index: 1; color:#fff; }
</style>
<form action="//terracoin.us15.list-manage.com/subscribe/post?u=e669ffbd8230f2b0809677c3d&amp;id=297940d5ba" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="novalidate">
    <div class="center">
        <span class="newsletter">
            <span>
                <span>
                    <label for="EMAIL">{{ site.newsletter_form_subscribe[page.lang] }}</label>
                    <input type="email" value="" name="EMAIL" class="required email mce_inline_error" id="mce-EMAIL" placeholder="{{ site.newsletter_form_email[page.lang] }}" aria-required="true" aria-invalid="true">
                    <div style="position: absolute; left: -5000px;" aria-hidden="true">
                        <input type="text" name="b_e669ffbd8230f2b0809677c3d_297940d5ba" tabindex="-1" value="">
                    </div>
                    <input type="submit" value="{{ site.newsletter_form_enroll[page.lang] }}" name="subscribe" id="mc-embedded-subscribe" class="button">
                </span>
            </span>
        </span>
	<div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
        </div>
    </div>
</form>
