<div id="pagenav" class="{{ page.bgclass }}">
    <div id="hexnav" class="clearfix">
        <div style="float: right;">
        <div class="hex-row">
            <div class="unihex"></div>
            <div class="unihex"></div>
            <div class="unihex"></div>
            <div class="unihex"></div>
        </div>
        <div class="hex-row even">
            <div class="unihex"></div>
            <div class="unihex"></div>
            <div class="unihex"></div>
        </div>
        </div>
        <div id="headlines-spacer"></div>
{% if page.ref == 'team2' %}
    {% include newsletter.html %}
{% endif %}
{% if page.extra %}
    <div id="pagenav_extra">{{ page.extra }}</div>
{% endif %}
        <div style="float: left;">
        <div class="hex-row">
            <div class="unihex"></div>
            <div class="unihex"></div>
            <div class="unihex"></div>
            <div class="unihex"></div>
        </div>
        <div class="hex-row even">
            <div class="unihex"></div>
            <div class="unihex"></div>
            <div class="unihex"></div>
        </div>
        </div>
    </div>
</div>

<div id="headlines"></div>
