---
layout: disclaimer
---
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

<div class="page-section terms-page">
    <div id="terracoin" class="menu-anchor"></div>
    <h1>Terracoin</h1>
    <div class="subsection">
        <h3>{{ page.trc_tos_title }}</h3>
        <br>
        {{ page.trc_tos_desc }}
    </div>
    <div id="trcpay" class="menu-anchor"></div>
    <h1>TRCpay</h1>
    <div class="subsection">
        <h3>{{ page.trcpay_tos_title }}</h3>
        <br>
        {{ page.trcpay_tos_desc }}
    </div>
</div>

    {% include topnav.html %}
    {% include footer.html %}

  </body>

</html>
