---
layout: exchanges
---
{% include default-top.html %}

<div id="gettrc" class="menu-anchor"></div>
<div class="page-section exchanges-section1">
    <h3>{{ page.how }}</h3>
    <br>
    <div class="center">
        <p class="small">{{ page.how_blurb }}</p>
    </div>
    <br>
    <div class="center">
        <div class="clearfix">
            <div class="number first clearfix group">
                <p class="clearfix group">{{ page.step1 }}</p>
            </div>
            <div class="number second clearfix group">
                <p class="clearfix group">{{ page.step2 }}</p>
            </div>
            <div class="number third clearfix group">
	        <p class="clearfix group">{{ page.step3 }}</p>
            </div>
        </div>
        <div class="info clearfix">
            <p class="center">{{ page.details }}</p>
        </div>
    </div>
</div>

{% include default-bottom.html %}
