---
layout: team
---
{% include default-top.html %}

<div id="team" class="menu-anchor"></div>
<div class="page-section team-section1">
    <h3>{{ page.team }}</h3>
    <p class="subtext center">{{ page.team_subtext }}</p>
    <br>
    <br>
    <div class="center">
        <p class="small">{{ page.foundation_blurb }}</p>
    </div>
    <fieldset>
        <legend>{{ page.foundation }}</legend>
        <div class="center">
{% for member in site.data.trcf %}
    {% assign member_image = '/media/members/nopic.jpg' %}
    {% assign static_images = site.static_files | where: 'extname', '.jpg' %}
    {% for static_image in static_images %}
        {% assign test_member_image = '/media/members/' | append: member.mattermost | append: '.jpg' %}
	{% if static_image.path == test_member_image %}
            {% assign member_image = static_image.path %}
        {% endif %}
    {% endfor %}
            <div class="member_container">
                <div class="member">
                    <div class="frame">
                        <img src="{{ member_image | prepend: site.url }}" alt="{{ member.mattermost }}">
                    </div>
                    <div>
    {% if member.mattermost %}
                        <a target="_blank" href="https://mattermost.terracoin.io/" title="{{ page.mattermost | append: ' @' | append: member.mattermost }}"><i class="fa mm-mattermost-square" style="position: relative; top: 1px;"></i></a>
    {% endif %}
    {% if member.twitter %}
                        <a target="_blank" href="https://twitter.com/{{ member.twitter }}" title="{{ page.twitter | append: ' @' | append: member.twitter }}"><i class="fab fa-twitter-square"></i></a>
    {% endif %}
    {% if member.linkedin %}
                        <a target="_blank" href="https://linkedin.com/in/{{ member.linkedin }}" title="{{ page.linkedin }}"><i class="fab fa-linkedin"></i></a>
    {% endif %}
    {% if member.github %}
                        <a target="_blank" href="https://github.com/{{ member.github }}" title="{{ page.github | append: ' @' | append: member.github }}"><i class="fab fa-github-square"></i></a>
    {% endif %}
                    </div>
                    <div class="memberinfo">
                        <div class="membername">
                            <h4>{{ member.name }}</h4>
                        </div>
    {% if member.foundation == 'yes' %}
                        <p class="membertitle">{{ page.foundation_member }}<p>
    {% endif %}
                        <p class="membertitle">{{ member.position }}</p>
                    </div>
                </div>
            </div>
{% endfor %}
        </div>
    </fieldset>
</div>
<div class="page-section team-section2">
    <div class="center a2">
        <h4>{{ page.team_cont }}</h4>
    </div>
    <br>
        <div class="center">
{% for member in site.data.team %}
    {% assign member_image = '/media/members/nopic.jpg' %}
    {% assign static_images = site.static_files | where: 'extname', '.jpg' %}
    {% for static_image in static_images %}
        {% assign test_member_image = '/media/members/' | append: member.mattermost | append: '.jpg' %}
	{% if static_image.path == test_member_image %}
            {% assign member_image = static_image.path %}
        {% endif %}
    {% endfor %}
            <div class="member_container">
                <div class="member">
                    <div class="frame">
                        <img src="{{ member_image | prepend: site.url }}" alt="{{ member.mattermost }}">
                    </div>
                    <div>
    {% if member.mattermost %}
                        <a target="_blank" href="https://mattermost.terracoin.io/" title="{{ page.mattermost | append: ' @' | append: member.mattermost }}"><i class="fa mm-mattermost-square" style="position: relative; top: 1px;"></i></a>
    {% endif %}
    {% if member.twitter %}
                        <a target="_blank" href="https://twitter.com/{{ member.twitter }}" title="{{ page.twitter | append: ' @' | append: member.twitter }}"><i class="fab fa-twitter-square"></i></a>
    {% endif %}
    {% if member.linkedin %}
                        <a target="_blank" href="https://linkedin.com/in/{{ member.linkedin }}" title="{{ page.linkedin }}"><i class="fab fa-linkedin"></i></a>
    {% endif %}
    {% if member.github %}
                        <a target="_blank" href="https://github.com/{{ member.github }}" title="{{ page.github | append: ' @' | append: member.github }}"><i class="fab fa-github-square"></i></a>
    {% endif %}
                    </div>
                    <div class="memberinfo">
                        <div class="membername">
                            <h4>{{ member.name }}</h4>
                        </div>
    {% if member.foundation == 'yes' %}
                        <p class="membertitle">{{ page.foundation_member }}<p>
    {% endif %}
                        <p class="membertitle">{{ member.position }}</p>
                    </div>
                </div>
            </div>
{% endfor %}
        </div>
</div>

<div id="translator" class="menu-anchor"></div>
<div class="page-section team-section3">
    <h3>{{ page.translators }}</h3>
    <br>
    <br>
    <div class="center">
        <p class="small">{{ page.translators_blurb }}</p>
        <br>
        <br>
        <h4>{{ page.translators_how }}</h4>
        <br>
        <div class="center">
            <span class="helpbtn">
                <span>
                    <a target="_blank" href="https://help.github.com/articles/creating-a-pull-request/">
                        <button>{{ page.helpus }}</button>
                    </a>
                </span>
            </span>
        </div>
    </div>
</div>

<div id="join" class="menu-anchor"></div>
<div class="page-section team-section4 center">
    <h3>{{ page.join }}</h3>
    <br>
    <br>
    <div class="center">
        <p class="small">{{ page.join_blurb }}</p>
        <br>
        <div class="center">
		{% assign form_url = '/scripts/apply' | append: page.lang | append: '.php' | prepend: site.url %}
		<form method="post" action="{{ form_url }}">
                <input type="text" spellcheck="false" name="name" tabindex="1" placeholder="{{ page.join_form_name }}">
                <input type="email" spellcheck="false" name="email" tabindex="2" placeholder="{{ page.join_form_email }}">
                <textarea name="message" tabindex="3" placeholder="{{ page.join_form_message }}"></textarea>
	        <input type="submit" value="Submit" tabindex="4">
            </form>
        </div>
    </div>
</div>

{% include default-bottom.html %}
