---
layout: trcpay
---
{% include default-top.html %}

<div id="pagenav" class="{{ page.bgclass }} page-section center">
    <div class="intro">
        <div class="title">
            <img style="width: 80%; max-width: -webkit-max-content;" src="{{ '/media/trcpay_title.png' | prepend: site.url }}">
            <div class="intro_blurb">
                {{ page.intro }}
            </div>
        </div>
    </div>
    <div class="downloads center">
{% for download in site.data.trcpay %}
        <a href="{{ download.link }}">
            <div class="download">
                <div class="icon {{ download.icon }}"></div>
                <div>
                    {{ download.name }}
                </div>
            </div>
        </a>
{% endfor %}
    </div>
</div>

<div id="multisig" class="menu-anchor"></div>
<div class="page-section clearfix trcpay-section1">
    <div class="pay animated group animate-right">
        <img alt="" src="{{ '/media/trcpay1.png' | prepend: site.url }}">
    </div>
    <h3>{{ page.secure_slogan }}</h3>
    <h1>{{ page.secure_title }}</h1>
    <br>
    <div class="small">
        {{ page.secure_blurb }}
        <br>
        <a class="large_green_btn scrollto" href="#pagenav">{{ page.getwallet }}</a>
    </div>
</div>

<div id="setup" class="menu-anchor"></div>
<div class="page-section clearfix trcpay-section2">
    <div class="pay animated group animate-left">
        <img alt="" src="{{ '/media/trcpay2.png' | prepend: site.url }}">
    </div>
    <h3>{{ page.setup_slogan }}</h3>
    <h1>{{ page.setup_title }}</h1>
    <br>
    <div class="small">
        {{ page.setup_blurb }}
        <br>
        <a class="large_green_btn scrollto" href="#pagenav">{{ page.getwallet }}</a>
    </div>
</div>

<div id="oss" class="menu-anchor"></div>
<div class="page-section clearfix trcpay-section3">
    <div class="pay animated group animate-up">
        <img alt="" src="{{ '/media/trcpay_peel.png' | prepend: site.url }}">
    </div>
    <h3>{{ page.oss_slogan }}</h3>
    <h1>{{ page.oss_title }}</h1>
    <br>
    <div class="small">
        {{ page.oss_blurb }}
        <br>
        <a class="large_green_btn scrollto" href="#pagenav">{{ page.getwallet }}</a>
    </div>
</div>

<div id="features" class="menu-anchor"></div>
<div class="page-section clearfix trcpay-section4">
    <div>
        <ul>
            <li>{{ page.feature1 }}</li>
            <li>{{ page.feature2 }}</li>
            <li>{{ page.feature3 }}</li>
            <li>{{ page.feature4 }}</li>
        </ul>
    </div>
</div>

<div class="page-section trcpay-section5">
    <div class="computer group">
        <img alt="" src="{{ '/media/trcpay_computer.png' | prepend: site.url }}">
    </div>
    <h3>{{ page.features_slogan }}</h3>
    <h1>{{ page.features_title }}</h1>
</div>

<div class="page-section trcpay-section6 center">
    <span>{{ page.features }}</span> <a class="button scrollto" href="#pagenav">{{ page.getwallet }}</a>
</div>

{% include default-bottom.html %}

<script type="text/javascript">
(function($) {

  /**
   * Copyright 2012, Digital Fusion
   * Licensed under the MIT license.
   * http://teamdf.com/jquery-plugins/license/
   *
   * @author Sam Sehnert
   * @desc A small plugin that checks whether elements are within
   *     the user visible viewport of a web browser.
   *     only accounts for vertical position, not horizontal.
   */

  $.fn.visible = function(partial) {
    
      var $t            = $(this),
          $w            = $(window),
          viewTop       = $w.scrollTop(),
          viewBottom    = viewTop + $w.height(),
          _top          = $t.offset().top,
          _bottom       = _top + ($t.height() / 2),
          compareTop    = partial === true ? _bottom : _top,
          compareBottom = partial === true ? _top : _bottom;
    
    return ((compareBottom <= viewBottom) && (compareTop >= viewTop));

  };
    
})(jQuery);

$(document).ready(function() {
  $('.pay').css('opacity', 0);

  $(window).trigger('scroll');
});

$(window).scroll(function(event) {
  $('.pay').each(function(i, el) {
    var el = $(el);
    if (el.visible(false)) {
      if (el.hasClass('animate-up'))
        el.addClass("fadeInUp"); 
      else if (el.hasClass('animate-left'))
        el.addClass("fadeInLeft"); 
      else
        el.addClass("fadeInRight"); 
    } 
  });
});
</script>
